<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declaração de Segurança do Acervo</title>
    <style>
        @page {
            size: A4 portrait;
        }
        
        table,
        th,
        td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      </style>
</head>
<body>

<h3>
DECLARAÇÃO DE SEGURANÇA DO ACERVO (DSA)
</h3>



<div>

<p>EU, {{data.nome_completo}}, {{data.nacionalidade}}, {{data.naturalidade}}, nascido em {{data.data_nascimento}}, {{data.profissao}}, residindo em {{data.logradouro}},{{data.numero_residencia}} - {{data.complemento}} - {{data.bairro}} - {{data.localidade}} e CPF nº {{data.numero_cpf}}.

<p>DECLARO, para fim de concessão de Registro no Comando do Exército , que o local de guarda do meu acervo de atirador desportivo atende as condições de segurança previstas no anexo F da Portaria nº 150-COLOG, de 5 de dezembro de 2019.</p>


<p>{{data.localidade}}, {{hoje}}.</p>


<p>_______________________________</p>
<p>{{data.nome_completo}}</p>

</div>
</body>
</html>

Declaração de Segurança do Acervo (DSA)


Eu, FERNANDO NUNES JOSE LEITAO, nascido em 09/11/1988, filho de ALVARO OLIVEIRA LEITAO e NILZA NUNES JOSE OLIVEIRA LEITAO, ENGENHEIRO, portador da carteira de identidade nº 443434372 - SSP SP , BRASILEIRO, natural de SÃO CAETANO DO SUL, CPF nº 359.590.498-21, residente à RUA RUBENS PEDRO, 615, APTO 1302, PARQUE SÃO VICENTE, 09371-065, MAUÁ-SP, DECLARO, para fim de CONCESSÃO de Certificado de Registro no Exército Brasileiro, na categoria pessoa física, ATIRADOR DESPORTIVO, que meu acervo/PCE será sempre mantido em local seguro.


São Paulo, São Paulo, 07 de Janeiro de 2019.


FERNANDO NUNES JOSE LEITAO
CPF: 359.590.498-21